<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit User</title>
</head>
<body>
<h1>Edit User</h1>
<form th:action="@{'/edit/' + ${user.id}}" th:object="${user}" method="post">
    <div>
        <label for="email">Email:</label>
        <input type="text" id="email" th:field="*{email}" />
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" th:field="*{password}" />
    </div>
    <div>
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" th:field="*{firstName}" />
    </div>
    <div>
        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" th:field="*{lastName}" />
    </div>
    <div>
        <label for="age">Age:</label>
        <input type="text" id="age" th:field="*{age}" />
    </div>
    <div>
        <label for="role">Role:</label>
        <select id="role" th:field="*{role}">
            <option value="USER">USER</option>
            <option value="ADMIN">ADMIN</option>
        </select>
    </div>
    <div>
        <button type="submit">Save</button>
    </div>
</form>
<a th:href="@{/users}">Back to User List</a>
</body>
</html>